*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}
body,html{
  margin-left:20px;
  background-color: #111;
color:white;
}

.profile{
  width: 13rem;
  height: 13rem;
  margin-top: 20px;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#111;
  background-color: #dadada;
}
.profile button{
  width: 45%;
  border: 1px solid black;
  color:#111;
}
.profile img{
  width: 3rem;
  height: 3rem;
  object-fit: center;
  border-radius: 50%;
}
.profile p {
  margin:2px;
}